body {
    background-image: url(/images/food.png);
    background-size: 100%;
    background-position: center -200px;
}

@media (width <= 1635px) {
    body {
        background-size: 1635px auto;
    }
}