html, body {margin: 0; height: 100%; overflow: hidden}

body {
    background-image: url(/images/food.png);
    background-size: 100%;
    background-position: center -50px;
}

/* Lock background size when width is under 1635px*/
@media (width <= 1635px) { 
    body {
        background-size: 1635px auto;
    }

    .main h1 {
        font-size: 60px;
    }
}

#content {
    display: grid;
    grid-template-rows: 90px 1fr 90px;
    height: 100%;
}

.navbar {
    height: 90px;
    display: flex;
    justify-content: center;
    gap: 50px;
    border-bottom: 2px solid goldenrod;
}

.navbutton {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 80px;
    font-family: 'Monsieur La Doulaise', cursive;
    margin-bottom: 0;
}

h1, .main div {
    color: white;
    font-weight: 100;
}

.main div {
    border-top: 3px solid goldenrod;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

.main #menu {
    color: black;
    background-color: goldenrod;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 25px;
}

/* About Page Styling */

.about_container {
    border-top: 3px solid goldenrod;
    background-color: white;
    height: 100%;
}