body {
    background-image: url(/images/food.png);
    background-size: 100%;
    background-position: center -200px;
}

@media (width <= 1360px) {
    body {
        background-size: 1359px auto;
    }
}